{% load static %}
<div class=" align-items-center bg-gray-900 rounded-lg p-6 shadow-lg border border-2 rounded-3 p-3 my-3">
            <div class="row flex items-start">
            <!-- Column for avatar -->
            <div class="d-flex col-2 flex-column ">
                <img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13" alt="avatar" class="rounded-circle">
                <div class="btn-group mt-3" role="group" aria-label="base button group">
                    <button type="button" class="btn btn-outline-success"><img src="/static/svg/hand-thumbs-up.svg"></button>
                     <button type="button" class="btn btn-outline-secondary disabled rating-button">0</button>
                     <button type="button" class="btn btn-outline-danger"><img src="/static/svg/hand-thumbs-down.svg"></button>
                </div>
            </div>
            <!-- Column for question -->
            <div class="d-flex flex-row col-10">
                <div class=" d-flex flex-column justify-content-start align-items-start">
                     <a class="question-title" href="{% url 'question' question_id=question.id %}">{{question.title}}</a>
                        <div class="fs-5 text-secondary">
                            {{question.text}}
                        </div>

                    <div class="flex mt-5">
                        <span>Tags:</span>
                        {% for tag in question.tags %}
                            <a href="{% url 'tag_questions' tag=tag %}" class="badge bg-primary rounded-pill">{{ tag }}</a>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>