{% extends "layouts/base.html" %}

{% load static %}

{% block user_status %}
<img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13" class="rounded-circle" style="width: 80px;" alt="Avatar" />
<div class="d-flex flex-column mx-2">
    <p class="fs-3 my-1 text-white">Dr. Pepper</p>
    <div class="mt-1">
        <a class="btn btn-primary fs-6" href="{%url 'settings' %}">Settings</a>
        <button class="btn btn-outline-danger fs-6 mx-3" >Sign out</button>

    </div>
    {% endblock user_status %}
{% block content %}
<div class="col-9 my-4">
    <!-- Title of the page and link to the hot questions-->
    <div class=" justify-content-start align-items-center">
        <a class="h2" href="{%url 'ask' %}">New Questions</a>
        <a class="link-offset-2 fs-5 mx-3" href="{%url 'hot' %}">Hot Questions</a>
    </div>
    <!-- Question template -->

    {% for question in page_obj %}
        {% include 'components/question_item.html' %}
    {% endfor %}
    <!-- End of question template -->
    <!-- Pagination -->
    {% include 'components/pagination.html' %}
    <!-- End of pagination -->
</div>
{% endblock content %}
