{% extends "layouts/base.html" %}

<!-- block for unauthorized user -->
{% block user_status %}
<a class="btn btn-primary fs-6" href="{%url 'settings' %}">Settings</a>
<button class="btn btn-outline-danger fs-6 mx-3">Sign out</button>
{% endblock user_status %}

{% block content %}
<div class="col-9">
    <!-- Full question template -->
    <div class="container align-items-center border rounded-3 p-6 p-3 my-3">
        <div class="row align-items-start">
            <!-- Column for avatar -->
            <div class=" d-flex col-3 my-3 flex-column align-items-centre">
                <img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13" class="rounded-circle" alt="Avatar" />
                <div class="btn-group mt-3 px-4" role="group" aria-label="base button group">
                    <button type="button" class="btn btn-outline-success"><img src="/static/svg/hand-thumbs-up.svg"></button>
                     <button type="button" class="btn btn-outline-secondary disabled rating-button">0</button>
                     <button type="button" class="btn btn-outline-danger"><img src="/static/svg/hand-thumbs-down.svg"></button>
                </div>
            </div>
            <!-- Column for question and text -->
            <div class="col-9">
                <div class="d-flex flex-column justify-content-start align-items-start my-1">
                    <p class="text-secondary fs-3" href="#">Lorem</p>
                    <p class="fs-5 text-secondary">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
                        Neque quo omnis modi consequuntur numquam, magnam dolore non<br>
                        explicabo, doloremque, esse suscipit! Eum quisquam dicta aut,<br>
                        deserunt saepe molestias facilis nulla?<br>
                    </p>
                </div>
                 <div class="row align-items-center">
            <!-- Column for tags -->
            <div class="col-10">
                <div class="d-flex justify-content-start align-items-center">
                     <div class="flex mt-5">
                            <span>Tags:</span>
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag1</a >
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag2</a>
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag3</a>
                        </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <!-- New line -->

    </div>
    <!-- End of question template -->
    <!-- Answer template -->
    <div class="container align-items-center bg-gray-900 rounded-lg p-6 border border-2 rounded-3 p-3 my-3">
        <div class="row align-items-center my-2">
            <!-- Column for avatar -->
            <div class="col-2">
                <img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13" class="rounded-circle" style="width: 100px;" alt="Avatar" />
            </div>
            <!-- Column for answer -->
            <div class="col-10">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <p class="text-secondary fs-5 text-break">
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
                        Neque quo omnis modi consequuntur numquam, magnam dolore non<br>
                        explicabo, doloremque, esse suscipit! Eum quisquam dicta aut,<br>
                        deserunt saepe molestias facilis nulla?<br>
                    </p>
                </div>
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Column for likes -->
            <div class="col-2">
                <div class="btn-group mt-3" role="group" aria-label="base button group">
                    <button type="button" class="btn btn-outline-success"><img src="/static/svg/hand-thumbs-up.svg"></button>
                     <button type="button" class="btn btn-outline-secondary disabled rating-button">0</button>
                     <button type="button" class="btn btn-outline-danger"><img src="/static/svg/hand-thumbs-down.svg"></button>
                </div>
            </div>
            <!-- Column for check if the answer correct or not -->
            <div class="col-10">
                <div class="d-flex justify-content-start align-items-center">
                      <div class="form-check mx-1">
                        <input class="form-check-input fs-5 text-secondary" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label fs-5 text-secondary" for="flexCheckChecked">
                            Correct!
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of answer template -->
    <div class="row align-items-center">
        <!-- Pagination for iterating all answers -->
        {% for answer in page_obj %}
            {% include 'question_item.html' %}
        {% endfor %}
        <!-- End of pagination -->
    </div>
    <!-- Answer input -->
    <div class="container border-top border-2 p-3 px-0">
        <textarea class="form-control text-secondary border-2" rows="4" placeholder="Enter your answer here."></textarea>
    </div>
    <!-- End of answer input -->
    <!-- Input for answer button -->
    <div class="container px-0">
        <button type="button" class="btn btn-success px-5">Answer</button>
    </div>
</div>
{% endblock content %}
