{% extends "layouts/base.html" %}

{% block user_status %}
<img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13" class="rounded-circle bg-white" style="width: 80px;" alt="Avatar" />
<div class="d-flex flex-column mx-2">
    <p class="fs-3 my-1 text-white">Dr. Pepper</p>
    <div class="mt-1">
        <a class="btn btn-primary fs-6" href="{% url 'settings' %}">Settings</a>
        <button class="btn btn-outline-danger fs-6 mx-3" >Sign out</button>

    </div>
</div>
{% endblock user_status %}

{% block content %}
<div class="col-9 my-4">
    <!-- Title of the page-->
    <div class="d-flex justify-content-start align-items-center">
        <h2 class="text-secondary">Tag: </h2>
        <h2 class="text-secondary mx-3">tag1</h2>
    </div>
    <!-- Question template -->
    <div class="container border border-2 rounded-3 p-3 my-3">
        <div class="row align-items-center">
            <!-- Column for avatar -->
            <div class="d-flex flex-column col-2">
                <img src="https://avatars.mds.yandex.net/i?id=fd573ab1672578a0f8d75ad3506626bc18e1a953-10768430-images-thumbs&n=13"  class="rounded-circle"  alt="Avatar" />

            </div>
            <!-- Column for question title and short description -->
            <div class="d-flex col-10 flex-column ">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <a class="link-offset-2 fs-3" href="{%url 'question' %}">Hello, guys! Have problem.</a>
                    <p class="fs-5 text-secondary">
                        Lorm ipsum Lorm ipsum Lorm ipsum Lorm ipsum <br>
                        Lorm ipsum
                    </p>


                </div>
            </div>
        </div>
        <!-- New line -->
        <div class="d-flex row align-items-center mt-3">
            <!-- Column for likes -->
            <div class="col-2">
                    <div class="btn-group  " role="group" aria-label="base button group">
                    <button type="button" class="btn btn-outline-success"><img src="/static/svg/hand-thumbs-up.svg"></button>
                     <button type="button" class="btn btn-outline-secondary disabled rating-button">0</button>
                     <button type="button" class="btn btn-outline-danger"><img src="/static/svg/hand-thumbs-down.svg"></button>
                </div>
            </div>
            <!-- Column for answers and tags -->
            <div class="col-10">
               <div class="d-flex justify-content-start align-items-center">
                   <div class="flex">
                            <a type="button" class="btn btn-primary" href="{%url 'question' %}">
                                Answers <span class="badge bg-secondary">4</span>
                            </a>
                            <span class="mx-2">Tags:</span>
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag1</a >
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag2</a>
                            <a class="badge bg-primary rounded-pill" href="{%url 'tag' %}">tag3</a>
                    </div>

               </div>
            </div>
        </div>
    </div>
    <!-- End of question template -->
    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-start my-4">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <!-- End of pagination -->
</div>
{% endblock content %}
